.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
} */

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.image {
  width: 250;
  height: 250;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.navButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  color:#e50a0a;
  text-align: center;
  border-radius: 10%;
  background-color:rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  vertical-align: center;
  padding: 0.5rem;
  font-family: 'Playfair';
  font-weight: 600;
  font-size: 21px;
}
.navButton:hover {
  font-size: 21px;
  color: #e50a0a;
  text-decoration: underline;
}

.searchBar {
  display: flex;
  border-color:#e50a0a;
  justify-content: flex-end;
}

.searchBar input::placeholder {
  font-weight: 600;
  color:rgb(174, 0, 0);
  opacity:0.5;
}

.searchBar input {
  background-color: rgba(182, 0, 0, 0.094);
  border-color: #ff0000;
  border-style:double;
  border-radius: 0.3rem;
  padding: 0.2rem;
  text-align: center;
  font-size: large;
  height: 30px;
  width: 260px;
}

.flavors {
  padding: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.flavorCard {
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5%;
  padding: 1rem;
  width:300px;
}
.flavorCard:hover {
  background-color: #f004041a;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

/* .card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  display:flex;
  justify-content: left;
  display: inline-block;
  width: 8%;
  height: 8%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.homePage {
  background: #ffd2cc;
  padding: 25px;
}