/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.page_code__9lUUd {
  font-weight: 700;
  font-family: var(--font-mono);
}

.page_image__NPJyO {
  width: 250;
  height: 250;
}

.page_grid__f5Kdy {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.page_navButton__fOglV {
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: #0048BA;
  text-align: center;
  border-radius: 10%;
  background-color:rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  vertical-align: center;
  padding: 0.5rem;
  font-family: 'Playfair';
  font-weight: 600;
  font-size: 21px;
}
.page_navButton__fOglV:hover {
  font-size: 21px;
  color: #002868;
  text-decoration: underline;
}

.page_searchBar__ps3RX {
  display: flex;
  border-color:#0048BA;
  justify-content: flex-end;
}

.page_searchBar__ps3RX input::placeholder {
  font-weight: 500;
  color:#0048BA;
  opacity:1;
}

.page_searchBar__ps3RX input {
  background-color: rgb(255, 255, 255);
  border-color: #0048BA;
  border-style:double;
  border-radius: 0.3rem;
  padding: 0.2rem;
  text-align: center;
  font-size: large;
  height: 30px;
  width: 260px;
}

.page_flavors__bfhWc {
  padding: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.page_flavorCard__MzyJP {
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5%;
  padding: 1rem;
  width:300px;
}
.page_flavorCard__MzyJP:hover {
  background-color: #0047ba37;
}

.page_card__QV0Om {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.page_title__3jonF {
  color: #0048BA;
}

/* .card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
} */

.page_center__5oHG7 {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.page_logo__7fc9l {
  display:flex;
  justify-content: left;
  width: 100px;
  height: 100%;
}

.page_logo__7fc9l :hover {
  width: 120px;
  height:100%;
}

.page_cardContainer__uo0Ub {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}
.page_description__86bsR {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.page_description__86bsR p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.page_navBar__YFHxz {
  display: flex;
  justify-content: space-between;
}

.page_homePage__gmrHv {
  /* background: #F8F7F2; */
  padding: 25px;
}
